<h2>Reactive: <small>Básicos</small></h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
            <!--Nombre del producto-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del producto" formControlName="nombre">
                    <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">Debe de ser de tres letras</span>
                </div>
            </div>

            <!--Precio del producto-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Precio del producto" formControlName="precio">
                    <span class="form-text text-danger"  *ngIf="campoEsValido('precio')">Debe de ser un precio mayor que 0</span>
                </div>
            </div>

            <!--Existencias de producto-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" placeholder="Existencias del producto" formControlName="existencias">
                    <span class="form-text text-danger"  *ngIf="campoEsValido('existencias')">Las existencias deben ser mayor que 0</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" >Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>
        <span>Invalid</span>
        <pre>{{ miFormulario.invalid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>


        <span>Valor</span>
        <pre>{{ miFormulario.value | json}}</pre>

        <span>Precioi</span>
        <pre>{{ miFormulario.controls.precio?.errors | json}}</pre>
    </div>
</div>
