<h2>Reactive: <small>Dinámicos</small></h2>
<hr>

<form  autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!--Nombre-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre de la persona" formControlName="nombre">
            <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">El campo es obligatorio</span>
        </div>
    </div>

    <!--Agregar favorito-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar favoritos</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Agregar favorito" name="nuevoJuego" [formControl]="nuevoFavorito" (keyup.enter)="agregarFavorito()">
                <!--(keyup.enter)="a=1" (click)="a=1" (click)="eliminarFavorito()" -->
                <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
            </div>
        </div>
    </div>

    <!--Lista de juegos favoritos   *ngFor="let item of persona.favoritos; let i= index" -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-1" *ngFor="let fav of favoritosArray.controls; let i=index">
                <input class="form-control" [formControlName]="i">
                <button class="btn btn-outline-danger" type="button" (click)="eliminarFavorito(i)">Eliminar</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-end" >Guardar</button>
        </div>
    </div>

</form>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>
        <span>Invalid</span>
        <pre>{{ miFormulario.invalid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>


        <span>Valor</span>
        <pre>{{ miFormulario.value | json}}</pre>

        <span>Agregar juego</span>
        <pre>{{ nuevoFavorito.value }}</pre>
        <pre>{{ nuevoFavorito.valid }}</pre>
    </div>
</div>


